<div class="main-wrapper">
  <div class="">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="heading-row">
          <h3>Interpolation (String Interpolation)</h3>
        </div>
      </div>
    </div>
    <div class="shadow-box mt-0">
      <div class="row align-items-center">

        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{product}}</h4>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam dolorem officia nisi eaque vitae beatae ad placeat, tempore eum voluptatum!
                </p>
              <button color="primary" (click)="btnClick()" mat-flat-button>Click Me</button>

            </div>
          </div>
        </div>

        <div class="col-12 my-2">
          <!-- <div class="search-input">
            <input type="text" class="form-control" placeholder="Search..." />
            <i class="bi bi-search"></i>
          </div> -->

          <div class="mb-5">
           
            <h4>String Interpolation</h4>
            <p>What is {{ data }}</p>
          </div>

          <div class="mb-5">
            <h4>We can use Expression in interpolation</h4>
            <p>{{ 5 + 5 }}</p>
          </div>

          <div class="mb-5">
            <h4>We can use String Concatination</h4>
            <p>{{ "Learn " + data }}</p>
          </div>

          <div class="mb-5">
            <h4>We can use Javascript Inbuild Method</h4>
            <p>{{ data.length }}</p>
            <p>{{ inbuild.toUpperCase() }}</p>
            <p>{{ inbuildLower.toLowerCase() }}</p>
          </div>

          <div class="mb-5">
            <h4>We can create custom Method</h4>
            <p>{{ customMethod() }}</p>
          </div>

          <div class="mb-5">
            <h4>We can use ternary conditional operators</h4>
            <p>My App Status is {{ appStatus ? "Online" : "Offline" }}</p>
            <p>My App Status is {{ appStatus1 ? status1 : status2 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
