<div class="dashboard-container">
    <form [formGroup]="form">
        <!-- Filters -->
        <div class="filter-bar">
            <!-- <mat-form-field appearance="outline" class="filter-item">
                <mat-label>Select Campaign</mat-label>
                <mat-select formControlName="companyId" [formGroup]="form">
                    <mat-option *ngFor="let c of comapinList" [value]="c._id">
                        {{ c.campaignId }}
                    </mat-option> </mat-select>
            </mat-form-field> -->
            <mat-form-field appearance="outline" class="filter-item">
                <mat-label>Select campaign</mat-label>
                <input type="text" matInput placeholder="Search campaign" [formControl]="campaignCtrl"
                    [matAutocomplete]="auto">

                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectCampaign($event)">
                    <mat-option *ngFor="let c of filteredCampaigns | async" [value]="c.campaignId">
                        {{ c.campaignId }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>


            <mat-form-field appearance="outline" class="filter-item">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="fromPicker" formControlName="from" [formGroup]="form">
                <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-item">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="toPicker" formControlName="to" [formGroup]="form">
                <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>

            <button mat-raised-button color="primary" class="search-btn" (click)="search()">
                <mat-icon>search</mat-icon> Search
            </button>
        </div>
    </form>
    <!-- Stats Cards -->
    <div class="stats-grid">


        <mat-card class="stat-card landing" routerLink="/admin/landing-page">
            <mat-card-title>LandingPage Users</mat-card-title>
            <mat-card-content>
                <h2>{{ landingCount }}</h2>
            </mat-card-content>
        </mat-card>

        <mat-card class="stat-card bonus" routerLink="/admin/bonus-page">
            <mat-card-title>BonusPage Users</mat-card-title>
            <mat-card-content>
                <h2>{{ bonusCount }}</h2>
            </mat-card-content>
        </mat-card>

        <mat-card class="stat-card whatsup" routerLink="/admin/whats-up-users">
            <mat-card-title> WhatsApp Users</mat-card-title>
            <mat-card-content>
                <h2>{{ whatsupCount }}</h2>
            </mat-card-content>
        </mat-card>

        <mat-card class="stat-card signup" routerLink="/admin/package-item-type-mgmt">
            <mat-card-title>Signup Users</mat-card-title>
            <mat-card-content>
                <h2>{{ signupCount }}</h2>
            </mat-card-content>
        </mat-card>

        <mat-card class="stat-card deposit">
            <mat-card-title>Users Deposit</mat-card-title>
            <mat-card-content>
                <h2>0</h2>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div class="charts-container">
    <div class="chart-box">
        <canvas #chart1 height="340"></canvas>
    </div>
