<div class="wrapper">
  <div class="container-fluid">
    <div class="row vh-100 bg-primary">
      <div
        class="col-md-6 col-lg-8 vh-100 d-flex justify-content-center align-items-end"
      >
        <img src="assets/images/taxi2.png" alt="" width="90%" />
      </div>

      <div
        class="col-md-6 col-lg-4 bg-transparent rounded-5 shadow d-flex align-items-center justify-content-center"
      >
        <div class="wrapper-form w-100">
          <div class="login-card">
            <div class="top-logo text-center mb-4">
              <img src="assets/images/logo.png" alt="logo" />
            </div>

            <div class="log-top-txt">
              <div class="text-center">
                <h4>Reset Password</h4>
              </div>
            </div>

            <div class="custom-input mb-4">
              <mat-label class="d-block">Create new password </mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input
                  placeholder="Enter Password"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                />
                <span
                  class="me-3"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </span>
              </mat-form-field>
            </div>

            <div class="custom-input mb-4">
              <mat-label class="d-block">Confirm Password </mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input
                  placeholder="Enter Password"
                  matInput
                  [type]="hide1 ? 'password' : 'text'"
                />
                <span
                  class="me-3"
                  mat-icon-button
                  matSuffix
                  (click)="hide1 = !hide1"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide1"
                >
                  <mat-icon>{{
                    hide1 ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </span>
              </mat-form-field>
            </div>

            <div class="auth-btn">
              <button
                mat-flat-button
                class="w-100"
                color="primary"
                routerLink="/login"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
