.list-group{
    /* margin: 40px 0px 10px 20px; */
    /* margin: 5px; */
    margin: 25px 0px 5px 0px;
}




   .list-group-item.active {
    z-index: 2;
    color: var(--primary-color)!important;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 0px;
    opacity: 1;
    border-left: 3px solid red;
}

.list-group-item{
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 8px 6px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.icon{
    width: 25px;
    height: 25px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi, .fas{
    font-size: 18px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background-color: red; */

}


.mat-icon {
    height: 20px;
    width: 20px;
    /* background: red; */
}

.material-icons {
    font-size: 20px;
}