<div class="list-group">
  <a routerLink="/admin/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action"
    aria-current="true">
    <div class="icon">
      <i class="bi bi-speedometer2"></i>
    </div>
    <div>Dashboard</div>
  </a>

  <a routerLink="/admin/dashboard-google" routerLinkActive="active" class="list-group-item list-group-item-action"
    aria-current="true">
    <div class="icon">
      <div class="icon">
        <i class="bi bi-google"></i>

      </div>
    </div>

    <div>Google Dashboard</div>
  </a>

  <a routerLink="/admin/dashboard-meta" routerLinkActive="active" class="list-group-item list-group-item-action"
    aria-current="true">
    <div class="icon">
      <i class="bi bi-meta"></i>
    </div>

    <div>Meta Dashboard</div>
  </a>



  <!-- <a
    routerLink="/admin/interpolation"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <div class="icon">
      <i class="bi bi-grid"></i>
    </div>

    <div>Interpolation(String Interpolation)</div>
  </a>

  <a
    routerLink="/admin/property-binding"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <div class="icon">
      <i class="bi bi-grid"></i>
    </div>

    <div>Interpolation(Property Binding)</div>
  </a>

  <a
    routerLink="/admin/class-style-binding"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <div class="icon">
      <i class="bi bi-grid"></i>
    </div>

    <div>Class style binding</div>
  </a>

  <a
    routerLink="/admin/event-binding"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <div class="icon">
      <i class="bi bi-grid"></i>
    </div>

    <div>Event binding</div>
  </a>

  <a
  routerLink="/admin/template-driven-form"
  routerLinkActive="active"
  class="list-group-item list-group-item-action"
  aria-current="true"
>
  <div class="icon">
    <i class="bi bi-grid"></i>
  </div>

  <div>Template 
    Driven Form</div>
</a> -->


  <a routerLink="/admin/landing-page" routerLinkActive="active" class="list-group-item list-group-item-action">
    <div class="icon">
      <i class="bi bi-globe2"></i>
    </div>

    <div>Landing page</div>
  </a>

  <a routerLink="/admin/bonus-page" routerLinkActive="active" class="list-group-item list-group-item-action">
    <div class="icon">
      <i class="bi bi-gift"></i>
    </div>

    <div>Bonus page</div>
  </a>

  <a routerLink="/admin/package-item-type-mgmt" routerLinkActive="active"
    class="list-group-item list-group-item-action">
    <div class="icon">
      <i class="bi bi-person-plus-fill"></i>
    </div>

    <div>SignUp Users</div>
  </a>

  <!-- <a
    routerLink="/admin/vehicle-mgmt"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    <div class="icon">
      <i class="bi bi-people-fill"></i>
    </div>

    <div>Vehicle Management</div>
  </a> -->
  <!-- 
  <a
    routerLink="/admin/fare-mgmt"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    <div class="icon">
      <i class="bi bi-people-fill"></i>
    </div>

    <div>Fare Management</div>
  </a>  -->
</div>