<div class="main-wrapper">
  <div class="">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="heading-row">
          <h3>Sign Up User</h3>
        </div>
      </div>
    </div>
    <!-- <div class="shadow-box mt-0">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-6 col-xl-5 col-xxl-4 my-2">
          <div class="search-input">
            <input type="text" class="form-control" placeholder="Search..." (keyup)="applyFilter($event)" />
            <i class="bi bi-search"></i>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-3 col-xxl-2 ms-auto my-2">
          <button class="w-100" color="primary" mat-flat-button (click)="addDialog('500ms','500ms',2)">
            Add new Package Type
          </button>
        </div> -->
      <!-- </div>
    </div> --> 

        <div class="shadow-box mt-0">
            <div class="row align-items-center">
                <!-- <div class="col-md-6 col-lg-6 col-xl-5 col-xxl-4 my-2"> -->
                <!-- <div class="search-input">
                        <input type="text" class="form-control" placeholder="Search..." (keyup)="applyFilter($event)" />
                        <i class="bi bi-search"></i>
                    </div> -->
                <form [formGroup]="form">
                    <!-- Filters -->
                    <div class="filter-bar">
                        <mat-form-field appearance="outline" class="filter-item">
                            <mat-label>Select campaign</mat-label>
                            <input type="text" matInput placeholder="Search campaign" [formControl]="campaignCtrl"
                                [matAutocomplete]="auto">

                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectCampaign($event)">
                                <mat-option *ngFor="let c of filteredCampaigns | async" [value]="c.campaignId">
                                    {{ c.campaignId }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="filter-item">
                            <mat-label>From Date</mat-label>
                            <input matInput [matDatepicker]="fromPicker" formControlName="from" [formGroup]="form">
                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                            <mat-datepicker #fromPicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="filter-item">
                            <mat-label>To Date</mat-label>
                            <input matInput [matDatepicker]="toPicker" formControlName="to" [formGroup]="form">
                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                            <mat-datepicker #toPicker></mat-datepicker>
                        </mat-form-field>

                        <button mat-raised-button color="primary" class="search-btn" (click)="search()">
                            <mat-icon>search</mat-icon> Search
                        </button>
                    </div>
                </form>
                <!-- </div> -->

                <!-- <div class="col-md-4 col-lg-4 col-xl-3 col-xxl-2 ms-auto my-2">
          <button class="w-100" color="primary" mat-flat-button (click)="addDialog('500ms','500ms',2)">
            Add new Package Type
          </button>
        </div> -->
            </div>
        </div>

    <div class="shadow-box">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource1" class="w-100">
          <ng-container matColumnDef="s_no">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{
              MatPaginator1.pageIndex * MatPaginator1.pageSize + (i + 1)
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="domain">
            <th mat-header-cell *matHeaderCellDef>
              Domain <br />

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.domain }}
            </td>
          </ng-container>


          <ng-container matColumnDef="companinid">
            <th mat-header-cell *matHeaderCellDef>
              Compaign - Id <br />

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.campaignId?.campaignId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="campaignName">
            <th mat-header-cell *matHeaderCellDef style="white-space: nowrap;">
              Compaign Name 

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.campaignId?.campaignName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="bonusId">
            <th mat-header-cell *matHeaderCellDef>
              Bonus - Id <br />

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.bonusId }}
            </td>
          </ng-container>


          <ng-container matColumnDef="medium">
            <th mat-header-cell *matHeaderCellDef>
              Medium <br />

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.medium }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              UserId <br />

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.userId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="french">
            <th mat-header-cell *matHeaderCellDef>
              User Name <br />

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.userName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="kinyarwanda">
            <th mat-header-cell *matHeaderCellDef>
              email <br />

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.email }}
            </td>
          </ng-container>

          <ng-container matColumnDef="mobNo">
            <th mat-header-cell *matHeaderCellDef>
              Mobile <br />

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.mobileNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>
              Created At <br />

            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.createdAt | date :'medium' }}
            </td>
          </ng-container>






          <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <div class="action-icon d-flex justify-content-center gap-3 align-items-center">
                <span class="action-head">
                  <mat-icon matTooltip="Edit" class="text-success" (click)="addDialog('500ms','500ms',2)">create
                  </mat-icon>
                </span>

                <span class="action-head">
                  <mat-icon matTooltip="Delete" (click)="deleteDialog('500ms','500ms')"
                    class="text-danger">delete</mat-icon>
                </span>

                <span class="action-head">
                  <mat-slide-toggle matTooltip="Block/Unblock"></mat-slide-toggle>
                </span>
              </div>
            </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
      </div>

      <mat-paginator #MatPaginator1 [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>