<div class="main-wrapper">
  <div class="row align-items-center">
    <div class="col-12">
      <div class="heading-row">
        <h3>Bonus Page</h3>
      </div>
    </div>
  </div>

  <!-- Filter Section -->
  <div class="shadow-box mt-0 p-3">
    <form [formGroup]="form" class="row g-3 align-items-end">

        <div class="col-md-3 position-relative dp-down">
            <label class="form-label">Select Domain</label>
            <!-- <input type="text" class="form-control" placeholder="Search domain" [formControl]="domainCtrl"
              (input)="filterDomains()" (click)="toggleDomainDropdown()"> -->
            <input type="text" class="form-control" placeholder="Search domain" [formControl]="domainCtrl"
              (input)="filterDomains()" (click)="toggleDomainDropdown()">

            <!-- Dropdown List -->
            <ul class="list-group position-absolute w-100" *ngIf="showDomainDropdown && filteredDomainList.length > 0"
              style="z-index:1000; max-height:200px; overflow-y:auto;">
              <li class="list-group-item list-group-item-action" [title]="d.domainName"
                *ngFor="let d of filteredDomainList" (click)="selectDomain(d)">
                {{ d.domain }}
              </li>
            </ul>
          </div>

              <div class="col-md-3">
            <label class="form-label">Select Medium</label>
            <select class="form-control" formControlName="medium">
              <option value="null" selected>-- Select Medium --</option>
              <option *ngFor="let m of mediumList" [value]="m">{{ m }}</option>
            </select>
          </div>


          
      <!-- Campaign -->
      <div class="col-md-3 position-relative dp-down">
            <label class="form-label">Select campaign</label>
            <input type="text" class="form-control" placeholder="Search campaign" [formControl]="campaignCtrl"
              (input)="filterCampaigns()" (click)="toggleDropdown()">

            <!-- Dropdown List -->
            <ul class="list-group position-absolute w-100 group-list" *ngIf="showDropdown && filteredCampaignsList.length > 0"
              style="z-index:1000; max-height:200px; overflow-y:auto;">
              <li class="list-group-item list-group-item-action" [title]="c.campaignId" *ngFor="let c of filteredCampaignsList"
                (click)="selectCampaign(c)">
                {{ c.campaignId }} - {{ c.campaignName }}
              </li>
            </ul>
          </div>
          <br>

      <!-- From Date -->
      <div class="col-md-3">
        <label class="form-label">From Date</label>
        <input type="date" class="form-control" formControlName="from">
      </div>

      <!-- To Date -->
      <div class="col-md-3">
        <label class="form-label">To Date</label>
        <input type="date" class="form-control" formControlName="to">
      </div>

      <!-- Search Button -->
       <div class="col-md-3 d-flex gap-2">
            <button type="button" class="btn btn-primary w-50" (click)="search()">
              <i class="bi bi-search"></i> Search
            </button>
            <button type="button" class="btn btn-danger w-50" (click)="resetFilters()">
              <i class="bi bi-arrow-counterclockwise"></i> Reset
            </button>
          </div>
    </form>
  </div>

  <!-- Table Section -->
  <div class="shadow-box mt-3 p-3">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>S.No.</th>
            <th>Campaign - Id</th>
            <th>Campaign Name</th>
            <th>Bonus - Id</th>
            <th>Domain</th>
            <th>Medium</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of dataSource1; let i = index">
            <td>{{ i + 1 + (pageIndex * pageSize) }}</td>
            <td class="ellipsis">{{ element?.campaignId?.campaignId }}</td>
            <td>{{ element?.campaignId?.campaignName }}</td>
            <td>{{ element?.bonusId }}</td>
            <td>{{ element?.domain }}</td>
            <td>{{ element?.medium }}</td>
            <td>{{ element?.createdAt | date:'medium' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Bootstrap Pagination -->
     <nav *ngIf="totalPages() > 1">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="pageIndex === 0">
                <button class="page-link" (click)="prevPage()">Previous</button>
              </li>
              <li class="page-item disabled">
                <span class="page-link">{{ pageIndex + 1 }} / {{ totalPages() }}</span>
              </li>
              <li class="page-item" [class.disabled]="pageIndex + 1 >= totalPages()">
                <button class="page-link" (click)="nextPage()">Next</button>
              </li>
            </ul>
          </nav>
  </div>
</div>
